<h1>商品新規登録</h1>

<%= form_with model: @item, url:admin_items_path do |f| %>

<br>
<br>
  <%= f.label :name, "商品名" %>
  <%= f.text_field :name, placeholder: "商品名" %>
<br>
<br>
  <%= f.label :introduction,"商品説明" %>
  <%= f.text_field :introduction, placeholder: "商品の説明を書く" %>
<br>
<br>
  <%=f.submit "新規登録" %>
<%end%>